{% extends "base.html" %}
{% block main %}
<div class="container main-container">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% for cat in cats %}
            <div class="swiper-slide">
                <a href="/cat-{{cat.id}}" class="main-link__cat">
                    <div class="card-cat">
                        <div class="card-cat__wrapper">
                            <img src={{cat.path_url}} alt="Кошка" class="card-car__img">
                            <span class="card-cat__name">{{cat.name}}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}


        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Swiper JS -->
<script src="static/scripts/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 5,
        spaceBetween: 30,
        // pagination: {
        //     el: ".swiper-pagination",
        //     // clickable: true,
        //     nextEl: ".swiper-button-next",

        // },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        hideOnClick: false,
        cssMode: true,
    });

</script>
{% endblock %}


</script>

</html>