<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="static/style/swiper-bundle.min.css" />
    <link rel="stylesheet" href="static/style/style.css">
    <title>CatsLibrary</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-wrapper">
                <form action="/" method="POST" id="main-form">
                    {{ form.csrf_token }}
                    <div class="header-sorted flex">
                        <div class="header-sorted__wrapper">
                            <labael class="sorted">Сортировать по: </labael>
                            <select class="header__select" name='sorted' form="main-form">
                                <option name="default" value="default">По умолчанию</option>
                                <option name="breed" value="breed">Порода</option>
                                <option name="age" value="age">Возраст</option>
                            </select>
                        </div>
                    </div>
                    <div class="header-search">
                        <div class="header-search__wrapper flex">
                            <ul class="header-items flex">
                                <li class="header-item">
                                    <input class="header__input" placeholder='Порода' type="text" id="breed"
                                        name="breed">
                                    {% if form.breed.errors %}
                                    <ul class="errors">
                                        {% for error in form.breed.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                                <li class="header-item">
                                    <input class="header__input" placeholder='Имя' type="text" id="name" name="name">
                                    {% if form.name.errors %}
                                    <ul class="errors">
                                        {% for error in form.name.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                                <li class="header-item">
                                    <input class="header__input" placeholder='Возраст' type="text" id="age" name="age">
                                    {% if form.age.errors %}
                                    <ul class="errors">
                                        {% for error in form.age.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                                <li class="header-item header-item-big">
                                    <textarea class="header__input" placeholder='Описание' type="text" id="description"
                                        name="description"></textarea>
                                </li>
                            </ul>
                            <div class="header-wrapper__btn">
                                <button class="header-search__btn" type="submit">Поиск</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <div class="container">
            <img src="static/img/paws-cat.png" alt="">
        </div>
    </footer>
</body>

{% block scripts %}{% endblock %}

</html>